<div class="container">
  <div class="row no-gutters d-flex justify-content-center title" style="color:burlywood;">
    <h1>Array de livros</h1>
  </div>

  <header class="header">
    <h1><img src=""></h1>
  </header>

  <body>
    <section class="banner"></section>
    <nav class="wrap">
      <ul class="nav">
        <li>
          <button class="btn btn-best" href="#" id="btnFilterBooksBest" value="theBest">THE BESTS BOOKS OF THE WORLD!!!</button>
        </li>
        <li>
          <button
          class="btn btn-my-library" href="#" id="btnFilterMyLibrary" value="library">BOOKS FROM MY LIBRARY.</button>
        </li>
        <li>
          <button
          class="btn btn-my-list" href="#" id="btnFilterMyList" value="list">BOOKS FROM MY LIST TO READ.</button>
        </li>
        <li>
          <button
          class="btn btn-legalize-it" href="#" id="btnFilterLegalizeIt" value="ligalizet">LEGALIZE IT.</button>
        </li>
        <li>
          <button
          class="btn btn-My" href="#" id="btnFilterMyLibrary" value="library">QUOTS FROM ASoIaF.</button>
        </li>
      </ul>
    </nav>

    <section>

    </section>

    <footer class="footer">
      <p>♡♡♡A reader lives a thousend lives♡♡♡</p>
    </footer>

  </body>
</div>
